<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h3>Order List</h3>
 <table> 
    <th>
    <td>Name</td>
    <td>Customer</td>
    <td>Items</td>
   
</th>
{% for order in orders%} 
<tr>
    <td>{{order.name}}</td>
    <td>{{order.customer}}</td>
    <td>{{order.items}}</td>
   
    
    <td><a href="{%url order_details id=order.id}"> View order</a></td>
    <td><a href="{%url order_edit id=order.id}"> Edit order</a></td> 
   
    
    
</tr>details/<int:id>
{% endfor %}

</table>
</body>
</html>